body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.header {
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-image: url('../resources/Banner Image.png');
    background-position: center;
    background-size: cover;
}



.happy {
    margin-top: 177px;
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 400;
}

.ceb {
    font-size: 30px;
    font-family: Merriweather;
    font-weight: 900;
    
}

.new-year {
    display: flex;
    padding: auto;
    margin: auto;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #FFF;
    font-family: Merriweather;
    text-transform: uppercase;
}


.category {
    display: flex;
    width: 100%;
    padding-top: 60px;
    justify-content: space-around;    
    align-items: center;    
}

.offer h2 {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.offer p {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

.offer h3 {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.offer img {
    transition: box-shadow 0.3s ease-in-out;
}

.offer img:hover {
    box-shadow: 0 0 10px 5px rgb(0, 60, 255); 
    border-radius: 30px; 
}

.vector h3 {
    color: #FFF;    
    font-size: 64px;
    font-weight: 900;
    font-family: Merriweather;
    letter-spacing: 7.04px;    
}

.vector {
    width: 1320px;
    height: 600px;
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-image: url('../resources/Vectorrr.png');
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
} 

.vector #party {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}

.party-container {
    text-align: left;
    width: 65%;
    text-wrap: wrap;
}

/* .event-container {
    display: flex;
    text-align: center;
    align-items: center;
    

} */

.event {
    background: linear-gradient(to top, #ac978be9, #c79a82);
    width: 1320px;
    height: 482px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
    
    
}





    
    




