body {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
}



.header {
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(7, 2, 11, 0) rgba(7, 2, 17, 1));
    background-image: url('../resources/Banner Image.png');
    background-position: center;
    background-size: cover;
}



.happy {
    margin-top: 177px;
    margin-bottom: -40px;
    font-size: 32px;
    font-weight: 400;
}

.ceb {
    font-size: 30px;
    margin-top: -50px;
    font-family: Merriweather;
    font-weight: 900;
    margin-top: -10px;
    /* line-height: 1; */

}

.new-year {
    display: flex;
    padding: auto;
    margin: auto;
    flex-direction: column;
    text-align: center;
    align-items: center;
    color: #FFF;
    font-family: Merriweather;
    text-transform: uppercase;
}


.category {
    display: flex;
    width: 100%;
    padding-top: 60px;
    justify-content: space-around;
    align-items: center;
}

.offer h2 {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.offer p {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}

.offer h3 {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.offer img {
    transition: box-shadow 0.3s ease-in-out;
}

.offer img:hover {
    box-shadow: 0 0 10px 5px rgb(0, 60, 255);
    border-radius: 30px;
}

.vector h3 {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    font-family: Merriweather;
    letter-spacing: 7.04px;
}

.vector {
    width: 1320px;
    height: 600px;
    fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    background-image: url('../resources/Vectorrr.png');
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 130px auto 0px;
}

.vector #party {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}

.party-container {
    text-align: left;
    width: 65%;
    text-wrap: wrap;
    margin
}

.event-container {
    width: 1320px;
    height: 482px;
    background: linear-gradient(to top, #edebea, #d7bcae);
    background-position: center;
    background-size: cover;
    margin: 120px auto 0px;
}

.event {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 80px 300px 350px 320px;
}

.highlight {
    color: #F00;

}

.event p {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
}

.btn {
    background-color: #F00;
    border-radius: 8px;
    margin-top: 20px;
    padding: 16px 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* gap: 10px; */
}

.btn .btn-description {
    text-transform: uppercase;
    color: #FFF;
    text-align: center;
}

.event-container p {
    margin: 15px auto;
}

.upcomming-offers {
    width: 1320px;
    height: 482px;
    background: #FFF;
    display: flex;
    margin: 120px auto 0px;
    gap: 20px;
}


.best-offer {
    color: #F00;
    text-align: left;
    margin-bottom: -35px;
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
}

.comming {
    color: #070211;
    font-family: Merriweather;
    margin-bottom: -7px;
    font-size: 48px;
    font-weight: 900;
}

.explanation {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    color: black;


}

.center-image {
    border-radius: 463px;
    border: 15px solid #F00;
    padding: 50px;
    text-align: center;
}

.year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: -15px;
}

.description {
    color: black;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.first-section {
    text-align: left;
    margin: 125px 20px auto auto;

}

.third-section {
    text-align: left;
    margin: 125px auto auto 100px;
}



.functional-container {
    width: 1000px;
    height: 1200px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin: 120px auto 0px;
}

.small-head {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: -50px;
}

.large-head {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 50px;
}

.discount-flow {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}

#holidays {
    color: #F00;
}

.design-container {
    margin: 120px auto 0px;
}

.girl {
    height: 433px;
    width: 429px;
    position: absolute;
    margin-left: 200px;
    margin-top: 67px;

}

.open-box {
    height: 600px;
    width: 700px;
    position: absolute;
    margin-left: -689px;
    margin-top: 95px;
}

.red-rectangle {
    height: 229px;
    width: 1320px;
    position: absolute;
    margin-left: -689px;
    padding-top: 500px;
}

.percent-off {
    position: absolute;
    margin-left: 50px;
    margin-top: 150px;

}

.flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
    max-width: 1400px;
    margin: 50px auto 0px;
    padding: 20px 10px;
}

.best-gift {
    text-align: left;
    margin: 120px auto 0px;
}

.best-gift h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5px;
    
}

.best-gift h4 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 20px;
    margin-bottom: 30px;
}

.best-gift p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-top: 2px;
}

.newsletter {
    width: 1320px;
    height: 616px;
   background-color: rgba(255, 0, 0, 0.05);
}